.top-container{
  background-color: #E4F9f5;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  padding-bottom: 30px;
}

.bottom-container{
    background-color: #66BFBF;
    line-height: 3;
    padding: 50px;
}

body{
  background-color: #E4F9f5;
  margin: 0;
  text-align: center;
  font-family: "Merriweather",serif;
}

h1{
  width: 50%;
  line-height: 2;
  margin:50px auto 0px auto;              /*it can be reduced to 0 auto 0 auto*/
  font-family: "Sacramento";
  font-size: 5.500rem;
  color: #66BFBF;
}

h2{
  color: #66BFBF;
  font-family: "Montserrat",sans-serif
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  font-family: "Montserrat",sans-serif;
  color:#11999E;
}

.skill-row{
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
}

.skill-image-1{
   border-radius: 10%;
   width: 25%;
   float: left;
   margin-right: 30px;
}

.skill-image-2{
   width:25%;
   float: right;
}

.skill-image-3{
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.top-cloud {
  position: absolute;
  right : 280px;
  top:50px;
}

.bottom-cloud{
  position: absolute;
  left : 280px;
  bottom: 300px;
}

.mountain{

}

.footer-link{
  color: #11999E;
  padding: 20px;
}

#profile-img{
   padding-top: 30px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color:#EAF6F6;
    border-width: 5px;
    width: 7%;
}

#copyright-text{
  color:#EAF6F6;
}

.BUTTON_IFY {
background: #3D94F6;
background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
color: #FFFFFF;
font-family: monospace;
font-size: 30px;
font-weight: 100;
padding: 20px;
box-shadow: 16px 10px 23px 0px #000000;
-webkit-box-shadow: 16px 10px 23px 0px #000000;
-moz-box-shadow: 16px 10px 23px 0px #000000;
text-shadow: 4px 3px 6px #000000;
border: solid #337FED 1px;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
}

.BUTTON_IFY:hover {
border: solid #337FED 2px;
background: #1E62D0;
background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
text-decoration: none;
}

.social-media-icons{
  height: 50px;
  width : 50px;
}
